/*SCSS*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@media (min-width: 1820px) {
  body {
    padding-top: 68px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    padding-top: 64px;
  }
}

li {
  list-style: none;
}

.level .stars .fa.fa-star {
  font-size: 13px;
  color: #c5c5c5;
}
.level .stars.level_1 .fa-star:nth-child(1) {
  color: #0062d6;
}
.level .stars.level_2 .fa-star:nth-child(1),
.level .stars.level_2 .fa-star:nth-child(2) {
  color: #0062d6;
}
.level .stars.level_3 .fa-star:nth-child(1),
.level .stars.level_3 .fa-star:nth-child(2),
.level .stars.level_3 .fa-star:nth-child(3) {
  color: #0062d6;
}

.row_container {
  margin-right: -1%;
  margin-left: -1%;
}
.row_container .col_container {
  padding-right: 1%;
  padding-left: 1%;
}
.row_container.row_1col {
  width: 100%;
}
.row_container.row_4col .col_4 {
  width: 25%;
  margin-right: 0;
}
@media only screen and (max-width: 960px) {
  .row_container.row_4col .col_4 {
    width: 50%;
    margin-bottom: 20px;
  }
}
.row_container.row_3col .col_3 {
  width: 33.33%;
  margin-right: 0;
}
@media only screen and (max-width: 768px) {
  .row_container.row_3col .col_3 {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .module_wrap .content_wrap {
    height: auto;
  }
  .module_wrap .content_wrap .name {
    font-size: 1.4em;
  }
}

header {
  /* The side navigation menu */
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
}
@media (min-width: 1820px) {
  header {
    position: fixed;
  }
}
header .inner_header {
  width: 96%;
}
@media only screen and (max-width: 960px) {
  header .inner_header {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  header .inner_header .logo {
    margin-right: 35px;
  }
  header .inner_header .search_wrap .search input {
    width: 100px;
  }
  header .inner_header .icon_wrap .icon:first-child > a {
    padding: 0 5px;
  }
  header .inner_header .nav .menu div > a {
    width: auto !important;
    padding: 0 15px;
  }
}
header div ul.submenu li.classic a {
  background-color: #463d33;
  color: #fff;
  font-weight: bold;
}
header .mobile_header {
  display: none;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 960px) {
  header .mobile_header {
    display: flex;
  }
}
header .mobile_header .menu_trigger {
  display: inline-block;
  transition: all 0.4s;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
}
header .mobile_header .menu_trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 0;
}
header .mobile_header .menu_trigger span:nth-of-type(1) {
  top: 0;
}
header .mobile_header .menu_trigger span:nth-of-type(2) {
  top: 9px;
}
header .mobile_header .menu_trigger span:nth-of-type(3) {
  bottom: 0;
}
header .mobile_header .menu_trigger.active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-135deg);
}
header .mobile_header .menu_trigger.active span:nth-of-type(2) {
  opacity: 0;
}
header .mobile_header .menu_trigger.active span:nth-of-type(3) {
  transform: translateY(-9px) rotate(135deg);
}
header .sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 9;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  /* Position and style the close button (top right corner) */
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
}
header .sidenav > div.current > a {
  background-color: #d2362f;
}
header .sidenav > div.current .submenu {
  background-color: #292929;
}
header .sidenav > div > a {
  font-size: 18px;
  color: #fff;
  display: flex;
  padding: 15px 20px;
  font-weight: bold;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
header .sidenav > div:first-child {
  padding-top: 3px;
}
header .sidenav > div:last-child {
  margin-bottom: 40px;
  margin-top: 30px;
}
header .sidenav .submenu {
  padding: 10px 0;
  margin: 0;
}
header .sidenav .submenu li {
  list-style: none;
  /* The navigation menu links */
}
header .sidenav .submenu li a {
  padding: 12px 8px 12px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #808080;
  display: block;
  transition: 0.3s;
  /* When you mouse over the navigation links, change their color */
}
header .sidenav .submenu li a:hover {
  color: #f1f1f1;
}
header .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
header .sidenav .search_wrap .icon_wrap {
  flex-wrap: wrap;
  justify-content: center;
}
header .sidenav .search_wrap .icon_wrap .icon {
  display: flex;
}
header .sidenav .search_wrap .icon_wrap .icon a {
  padding: 20px;
}
header .sidenav .search_wrap .icon_wrap .icon .fa {
  font-size: 21px;
}
header .sidenav .search_wrap .icon_wrap .icon .search {
  margin-top: 10px;
}
header .sidenav .search_wrap .icon_wrap .icon .search input {
  width: auto;
}
@media only screen and (max-width: 480px) {
  header .sidenav a {
    font-size: 18px;
  }
}
header .page_wrap {
  transition: margin-left 0.5s;
  padding: 20px;
}
header #myCanvasNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

@media only screen and (max-width: 1280px) {
  body.sketchup-pro .container.slider .container_inner {
    width: 100%;
  }
}
body.sketchup-pro .container:nth-of-type(1) {
  margin-bottom: 0;
}
body.sketchup-pro .slider_wrap div[class*=slider] {
  padding: 0;
  background-repeat: no-repeat;
  background-size: 60%;
}
@media only screen and (max-width: 1280px) {
  body.sketchup-pro .slider_wrap div[class*=slider] {
    background-size: 70%;
  }
}
@media only screen and (max-width: 960px) {
  body.sketchup-pro .slider_wrap div[class*=slider] {
    background-position: right -20px bottom !important;
  }
}
body.sketchup-pro .slider_wrap .slier_inner {
  align-items: flex-start;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.sketchup-pro .slider_wrap .slier_inner > div {
  font-size: 26px;
}
body.sketchup-pro .slider_wrap .slier_inner > div > img {
  margin-bottom: 10px;
}
body.sketchup-pro .slider_wrap .slier_inner h2 {
  font-size: 46px;
  line-height: 1.2em;
  font-weight: 900;
  margin: 10px 0 20px;
}
body.sketchup-pro .slider_wrap .slier_inner h3 {
  font-size: 32px;
  line-height: 1.2em;
  font-weight: 900;
}
body.sketchup-pro .slider_wrap .slier_inner p {
  margin: 0;
  font-size: 18px;
}
body.sketchup-pro .slider_wrap .slier_inner .btn_wrap {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  padding: 0;
}
@media only screen and (max-width: 1280px) {
  body.sketchup-pro .slider_wrap .slier_inner {
    height: 580px;
    padding: 40px 60px;
  }
  body.sketchup-pro .slider_wrap .slier_inner > div {
    font-size: 20px;
  }
  body.sketchup-pro .slider_wrap .slier_inner h2 {
    font-size: 32px !important;
  }
}
@media only screen and (max-width: 960px) {
  body.sketchup-pro .slider_wrap .slier_inner {
    height: 500px;
    justify-content: flex-start;
  }
  body.sketchup-pro .slider_wrap .slier_inner h3 {
    font-size: 24px;
  }
  body.sketchup-pro .slider_wrap .slier_inner p {
    font-size: 16px;
  }
  body.sketchup-pro .slider_wrap .slier_inner .btn_wrap {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  body.sketchup-pro .slider_wrap .slier_inner {
    height: 400px;
    justify-content: flex-start;
    margin-top: 0;
    padding: 40px;
  }
  body.sketchup-pro .slider_wrap .slier_inner > div {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  body.sketchup-pro .slider_wrap .slier_inner {
    padding: 40px 20px;
  }
  body.sketchup-pro .slider_wrap .slier_inner p {
    font-size: 14px;
  }
}
body.sketchup-pro .slider_wrap .slider01 .point_btn,
body.sketchup-pro .slider_wrap .slider02 .point_btn {
  align-items: center;
}
body.sketchup-pro .slider_wrap .slider01 .point_btn img,
body.sketchup-pro .slider_wrap .slider02 .point_btn img {
  margin-left: 20px;
}
@media only screen and (max-width: 768px) {
  body.sketchup-pro .slider_wrap .slider01 .point_btn,
body.sketchup-pro .slider_wrap .slider02 .point_btn {
    padding: 10px 14px;
    font-size: 13px;
  }
  body.sketchup-pro .slider_wrap .slider01 .point_btn img,
body.sketchup-pro .slider_wrap .slider02 .point_btn img {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 768px) {
  body.sketchup-pro .swiper-button-black {
    display: none;
  }
}
body.sketchup-pro .swiper-wrapper + .swiper-pagination {
  bottom: 5%;
}
body.sketchup-pro .swiper-wrapper + .swiper-pagination span {
  margin: 0 3px;
  border: 5px solid #777;
}
body.sketchup-pro .swiper-wrapper + .swiper-pagination:before {
  margin-right: 10px;
}
body.sketchup-pro .swiper-wrapper + .swiper-pagination:after {
  margin-left: 10px;
}
@media only screen and (max-width: 1280px) {
  body.sketchup-pro .swiper-wrapper + .swiper-pagination {
    left: 60px;
  }
}
@media only screen and (max-width: 768px) {
  body.sketchup-pro .swiper-wrapper + .swiper-pagination {
    left: 40px;
  }
}
@media only screen and (max-width: 480px) {
  body.sketchup-pro .swiper-wrapper + .swiper-pagination {
    left: 20px;
  }
}
body.sketchup-pro .page_title h2 {
  margin-bottom: 0;
}
body.sketchup-pro section.container.product_list, body.sketchup-pro section.container.class_list {
  padding-top: 120px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 960px) {
  body.sketchup-pro section.container.product_list, body.sketchup-pro section.container.class_list {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 960px) {
  body.sketchup-pro section.container.promotion {
    padding-top: 80px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  body.sketchup-pro section.container.product_list .row_container.row_3col {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  body.sketchup-pro section.container.product_list .image_container .thumbnail {
    max-height: unset;
  }
}
body.sketchup-pro section.container.class_list {
  border-top: 1px solid #e9e9e9;
}
body.sketchup-pro section.container.class_list .row_container.row_3col {
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  body.sketchup-pro section.container.class_list .row_container.row_3col {
    margin-bottom: 0;
  }
}
body.sketchup-pro section.container.class_list .image_container {
  border: none;
}
body.sketchup-pro section.container.class_list .image_container .thumbnail {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
body.sketchup-pro section.container.class_list .content_wrap {
  height: auto;
  border: none;
  padding: 40px 0 0;
}
body.sketchup-pro section.container.class_list .content_wrap .name {
  font-size: 24px;
  font-weight: bold;
}
body.sketchup-pro section.container.class_list .content_wrap .excerpt {
  font-size: 14px;
  color: #888;
  line-height: 1.5;
  min-height: 90px;
}
@media only screen and (max-width: 768px) {
  body.sketchup-pro section.container.class_list .content_wrap .excerpt {
    min-height: auto;
  }
}
body.sketchup-pro section.container.class_list .content_wrap .detail_wrap > * {
  color: #888;
}
body.sketchup-pro section.container.class_list .content_wrap .price_wrap {
  margin-top: 30px;
}
body.sketchup-pro section.container.class_list .detail_wrap {
  display: flex;
}
body.sketchup-pro section.container.class_list .level {
  display: flex;
  padding-right: 12px;
  border-right: 1px solid #ccc;
  margin-right: 12px;
}
body.sketchup-pro section.container.class_list .level ._name {
  padding-left: 8px;
}

.nav_wrap ul.container {
  margin: 0;
}
.nav_wrap ul.container > li {
  padding: 0;
}
.nav_wrap ul.container ul {
  margin: 14px 0 5px;
}
.nav_wrap nav .title {
  padding: 14px 10px;
}
.nav_wrap nav .title.toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.nav_wrap nav .title.toggle i.fas {
  transition: all 0.3s;
}
.nav_wrap nav .title.toggle.closed i.fas {
  transform: rotateZ(180deg);
}
.nav_wrap ul.menu_list {
  height: auto;
  transition: all 0.3s;
}
.nav_wrap ul.menu_list.closed {
  height: 2px;
  margin: 0;
  overflow: hidden;
}

html .single.product_detail .container .btn_grp div.payment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
}
html .single.product_detail .container .product_wrap.container_inner {
  max-width: 1000px;
  padding: 0px;
}
html .single.product_detail .container .product_wrap.container_inner .image_wrap.row_container {
  justify-content: space-between;
}
html .single.product_detail .container .product_wrap.container_inner .image_wrap.row_container .col_container.col_1_2 form {
  width: 100%;
}
html .single.product_detail .container .product_wrap.container_inner .image_wrap.row_container .col_container.col_1_2:first-child {
  max-width: 410px;
}
@media only screen and (max-width: 1024px) {
  html .single.product_detail .container .product_wrap.container_inner .image_wrap.row_container .col_container.col_1_2:first-child {
    max-width: 100%;
  }
}
html .single.product_detail .container .product_wrap.container_inner .image_wrap.row_container .col_container.col_1_2:last-child {
  max-width: 50%;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  html .single.product_detail .container .product_wrap.container_inner .image_wrap.row_container .col_container.col_1_2:last-child {
    max-width: 100%;
  }
}
html .single.product_detail .container .product_wrap.container_inner div.image_container {
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
}
@media only screen and (max-width: 1024px) {
  html .single.product_detail .container .product_wrap.container_inner div.image_container {
    align-items: center;
    justify-content: center;
  }
}
html .single.product_detail .container .product_wrap.container_inner div.image_container .thumbnail {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
}
html .single.product_detail .container .product_wrap.container_inner .pd_title h1 {
  line-height: 1.2em;
  font-family: "Lato", "Noto Sans KR", sans-serif;
}
@media only screen and (max-width: 1024px) {
  html .single.product_detail .container .product_wrap.container_inner .pd_title h1 {
    text-align: center;
  }
}
html .single.product_detail .container .product_wrap.container_inner .detail_info_container img {
  width: auto;
}
html .single.product_detail .container .product_wrap.container_inner div.options {
  margin: 40px 0;
}
html .single.product_detail .container .product_wrap.container_inner div.options ul.info li {
  margin-top: 0;
}
html .single.product_detail .container .product_wrap.container_inner div.options ul.years li .option {
  height: 46px;
}
@media only screen and (max-width: 768px) {
  html .single.product_detail div.options ul.years li.item:nth-of-type(1) {
    order: unset;
    width: auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
}

body.products_list div,
body.products_list a,
body.products_list li,
body.products_list p,
body.products_list h1,
body.products_list h2,
body.products_list h3,
body.products_list h4,
body.products_list h5,
body.products_list h6,
body.products_list button,
body.products_list input,
body.products_list td,
body.single.page div,
body.single.page a,
body.single.page li,
body.single.page p,
body.single.page h1,
body.single.page h2,
body.single.page h3,
body.single.page h4,
body.single.page h5,
body.single.page h6,
body.single.page button,
body.single.page input,
body.single.page td,
body.sketchup-pro div,
body.sketchup-pro a,
body.sketchup-pro li,
body.sketchup-pro p,
body.sketchup-pro h1,
body.sketchup-pro h2,
body.sketchup-pro h3,
body.sketchup-pro h4,
body.sketchup-pro h5,
body.sketchup-pro h6,
body.sketchup-pro button,
body.sketchup-pro input,
body.sketchup-pro td,
body.single.product_detail div,
body.single.product_detail a,
body.single.product_detail li,
body.single.product_detail p,
body.single.product_detail h1,
body.single.product_detail h2,
body.single.product_detail h3,
body.single.product_detail h4,
body.single.product_detail h5,
body.single.product_detail h6,
body.single.product_detail button,
body.single.product_detail input,
body.single.product_detail td,
body.cart div,
body.cart a,
body.cart li,
body.cart p,
body.cart h1,
body.cart h2,
body.cart h3,
body.cart h4,
body.cart h5,
body.cart h6,
body.cart button,
body.cart input,
body.cart td {
  font-family: "Lato", "Noto Sans KR", sans-serif !important;
}
body.products_list .slider_wrap .point_btn,
body.products_list .swiper-wrapper + .swiper-pagination span[class*=active],
body.products_list .swiper-pagination-bullet-active,
body.products_list .btn_grp div.payment,
body.products_list header .nav nav.menu div.current,
body.single.page .slider_wrap .point_btn,
body.single.page .swiper-wrapper + .swiper-pagination span[class*=active],
body.single.page .swiper-pagination-bullet-active,
body.single.page .btn_grp div.payment,
body.single.page header .nav nav.menu div.current,
body.sketchup-pro .slider_wrap .point_btn,
body.sketchup-pro .swiper-wrapper + .swiper-pagination span[class*=active],
body.sketchup-pro .swiper-pagination-bullet-active,
body.sketchup-pro .btn_grp div.payment,
body.sketchup-pro header .nav nav.menu div.current,
body.single.product_detail .slider_wrap .point_btn,
body.single.product_detail .swiper-wrapper + .swiper-pagination span[class*=active],
body.single.product_detail .swiper-pagination-bullet-active,
body.single.product_detail .btn_grp div.payment,
body.single.product_detail header .nav nav.menu div.current,
body.cart .slider_wrap .point_btn,
body.cart .swiper-wrapper + .swiper-pagination span[class*=active],
body.cart .swiper-pagination-bullet-active,
body.cart .btn_grp div.payment,
body.cart header .nav nav.menu div.current {
  background-color: #005f9e !important;
}
body.products_list header .nav nav.menu div.current:hover,
body.single.page header .nav nav.menu div.current:hover,
body.sketchup-pro header .nav nav.menu div.current:hover,
body.single.product_detail header .nav nav.menu div.current:hover,
body.cart header .nav nav.menu div.current:hover {
  background-color: #fff !important;
}
body.products_list .btn_grp div.payment:hover,
body.single.page .btn_grp div.payment:hover,
body.sketchup-pro .btn_grp div.payment:hover,
body.single.product_detail .btn_grp div.payment:hover,
body.cart .btn_grp div.payment:hover {
  background-color: #00426d;
}
body.products_list header .nav nav.menu div.current:hover > a,
body.products_list header .nav nav.menu div:hover,
body.products_list header .nav nav.menu div.current:hover,
body.single.page header .nav nav.menu div.current:hover > a,
body.single.page header .nav nav.menu div:hover,
body.single.page header .nav nav.menu div.current:hover,
body.sketchup-pro header .nav nav.menu div.current:hover > a,
body.sketchup-pro header .nav nav.menu div:hover,
body.sketchup-pro header .nav nav.menu div.current:hover,
body.single.product_detail header .nav nav.menu div.current:hover > a,
body.single.product_detail header .nav nav.menu div:hover,
body.single.product_detail header .nav nav.menu div.current:hover,
body.cart header .nav nav.menu div.current:hover > a,
body.cart header .nav nav.menu div:hover,
body.cart header .nav nav.menu div.current:hover {
  color: #005f9e;
}
body.products_list .page_license_wrap .text_wrap_bg .text_container p .point_color,
body.single.page .page_license_wrap .text_wrap_bg .text_container p .point_color,
body.sketchup-pro .page_license_wrap .text_wrap_bg .text_container p .point_color,
body.single.product_detail .page_license_wrap .text_wrap_bg .text_container p .point_color,
body.cart .page_license_wrap .text_wrap_bg .text_container p .point_color {
  color: #005f9e;
}
body.products_list .page_license_wrap .module_wrap.btn_container .point_btn,
body.single.page .page_license_wrap .module_wrap.btn_container .point_btn,
body.sketchup-pro .page_license_wrap .module_wrap.btn_container .point_btn,
body.single.product_detail .page_license_wrap .module_wrap.btn_container .point_btn,
body.cart .page_license_wrap .module_wrap.btn_container .point_btn {
  background-color: #005f9e !important;
}
body.products_list .grid_container.products .module_wrap .image_container,
body.single.page .grid_container.products .module_wrap .image_container,
body.sketchup-pro .grid_container.products .module_wrap .image_container,
body.single.product_detail .grid_container.products .module_wrap .image_container,
body.cart .grid_container.products .module_wrap .image_container {
  height: auto;
}
body.products_list .module_wrap .image_container,
body.single.page .module_wrap .image_container,
body.sketchup-pro .module_wrap .image_container,
body.single.product_detail .module_wrap .image_container,
body.cart .module_wrap .image_container {
  height: auto;
}
body.products_list .module_wrap .transparent .price_wrap,
body.products_list .module_wrap .content_wrap .price_wrap,
body.single.page .module_wrap .transparent .price_wrap,
body.single.page .module_wrap .content_wrap .price_wrap,
body.sketchup-pro .module_wrap .transparent .price_wrap,
body.sketchup-pro .module_wrap .content_wrap .price_wrap,
body.single.product_detail .module_wrap .transparent .price_wrap,
body.single.product_detail .module_wrap .content_wrap .price_wrap,
body.cart .module_wrap .transparent .price_wrap,
body.cart .module_wrap .content_wrap .price_wrap {
  color: #005f9e;
}
body.products_list .module_wrap .transparent .price_wrap:before,
body.products_list .module_wrap .content_wrap .price_wrap:before,
body.single.page .module_wrap .transparent .price_wrap:before,
body.single.page .module_wrap .content_wrap .price_wrap:before,
body.sketchup-pro .module_wrap .transparent .price_wrap:before,
body.sketchup-pro .module_wrap .content_wrap .price_wrap:before,
body.single.product_detail .module_wrap .transparent .price_wrap:before,
body.single.product_detail .module_wrap .content_wrap .price_wrap:before,
body.cart .module_wrap .transparent .price_wrap:before,
body.cart .module_wrap .content_wrap .price_wrap:before {
  background-color: #005f9e;
}
body.products_list .page_content .price i,
body.products_list .page_content .integrated-total_price > div:last-child i,
body.single.page .page_content .price i,
body.single.page .page_content .integrated-total_price > div:last-child i,
body.sketchup-pro .page_content .price i,
body.sketchup-pro .page_content .integrated-total_price > div:last-child i,
body.single.product_detail .page_content .price i,
body.single.product_detail .page_content .integrated-total_price > div:last-child i,
body.cart .page_content .price i,
body.cart .page_content .integrated-total_price > div:last-child i {
  color: #005f9e;
}
body.products_list .page_wrap .pop_container .btnInsertOrder,
body.single.page .page_wrap .pop_container .btnInsertOrder,
body.sketchup-pro .page_wrap .pop_container .btnInsertOrder,
body.single.product_detail .page_wrap .pop_container .btnInsertOrder,
body.cart .page_wrap .pop_container .btnInsertOrder {
  background: #005f9e;
}
body.products_list article.page_recommend_wrap .row_container.check_cart_wrap .check_cart .btn_check_cart,
body.single.page article.page_recommend_wrap .row_container.check_cart_wrap .check_cart .btn_check_cart,
body.sketchup-pro article.page_recommend_wrap .row_container.check_cart_wrap .check_cart .btn_check_cart,
body.single.product_detail article.page_recommend_wrap .row_container.check_cart_wrap .check_cart .btn_check_cart,
body.cart article.page_recommend_wrap .row_container.check_cart_wrap .check_cart .btn_check_cart {
  background-color: #005f9e;
}
body.products_list article.page_recommend_wrap .products_wrap.row_container li .price,
body.single.page article.page_recommend_wrap .products_wrap.row_container li .price,
body.sketchup-pro article.page_recommend_wrap .products_wrap.row_container li .price,
body.single.product_detail article.page_recommend_wrap .products_wrap.row_container li .price,
body.cart article.page_recommend_wrap .products_wrap.row_container li .price {
  color: #005f9e;
}
body.products_list article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart,
body.single.page article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart,
body.sketchup-pro article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart,
body.single.product_detail article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart,
body.cart article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart {
  background-color: #005f9e;
}
body.products_list article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart:hover,
body.single.page article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart:hover,
body.sketchup-pro article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart:hover,
body.single.product_detail article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart:hover,
body.cart article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_cart:hover {
  background-color: #00426d;
}
body.products_list article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_detail_pop:hover,
body.single.page article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_detail_pop:hover,
body.sketchup-pro article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_detail_pop:hover,
body.single.product_detail article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_detail_pop:hover,
body.cart article.page_recommend_wrap .products_wrap.row_container .btn_wrap .btn_detail_pop:hover {
  background-color: #005f9e;
}
body.products_list article.page_recommend_wrap .popup_recommend .pop_container .pop_title h2 p span,
body.single.page article.page_recommend_wrap .popup_recommend .pop_container .pop_title h2 p span,
body.sketchup-pro article.page_recommend_wrap .popup_recommend .pop_container .pop_title h2 p span,
body.single.product_detail article.page_recommend_wrap .popup_recommend .pop_container .pop_title h2 p span,
body.cart article.page_recommend_wrap .popup_recommend .pop_container .pop_title h2 p span {
  color: #005f9e;
}

body.archive.products_list .module_wrap:hover .thumbnail {
  width: auto;
}
body.archive.products_list .module_wrap .image_container .thumbnail {
  width: auto;
  max-height: 320px;
}

body.single.page .page_license_wrap .module_wrap.btn_container .point_btn {
  padding: 15px 30px;
}