html .single.product_detail {
  .container {
    .btn_grp div.payment {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 66px;
    }

    .product_wrap.container_inner {
      max-width: 1000px;
      padding: 0px;

      .image_wrap.row_container {
        justify-content: space-between;

        .col_container.col_1_2 {
          form {
            width: 100%;
          }

          &:first-child {
            max-width: 410px;

            @include respond-to(large) {
              max-width: 100%;
            }
          }

          &:last-child {
            max-width: 50%;
            width: 100%;

            @include respond-to(large) {
              max-width: 100%;
            }
          }
        }
      }

      div.image_container {
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;

        @include respond-to(large) {
          align-items: center;
          justify-content: center;
        }

        .thumbnail {
          width: auto;
          max-width: 100%;
          height: auto;
          display: block;
        }
      }

      .pd_title h1 {
        line-height: 1.2em;
        font-family: "Lato", "Noto Sans KR", sans-serif;

        @include respond-to(large) {
          text-align: center;
        }
      }

      .detail_info_container img {
        width: auto;
      }

      div.options {
        margin: 40px 0;

        ul.info li {
          margin-top: 0;
        }

        ul.years li .option {
          height: 46px;
        }
      }
    }
  }

  div.options ul.years li.item {
    &:nth-of-type(1) {
      @include respond-to(small) {
        order: unset;
        width: 32%;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }
  }
}